{% extends "TheaterWinBook/base_header_footer.html" %}

{% block css_script %}
    <style>
        .breadcrumb-wrap {
            padding: 5%;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="divide40"></div>
    <div class="divide40"></div>
    <div class="divide40"></div>

    <section>
        <div class="container error-404" style="width: 100%">
            <div class="row">
                <div class="col-sm-12" style="text-align: center">
                    <h2 style="color: indianred">ERROR!</h2>
                    <h4>잘못된 접근 방법입니다! <br>다시 시도해주세요</h4>
                    <div class="divide40"></div>
                    <div class="divide40"></div>
                    <div class="divide40"></div>

                    <p class="lead" style="font-size: 13px">같은 문제가 발생하시면, <br>TheaterWinner@gmail.com 으로 상황을 자세히 말씀해주세요
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="divide40"></div>

    <div class="divide40"></div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {

            // JQuery 적용

        });


    </script>
{% endblock %}


