{% extends "TheaterWinBook/base_header_footer.html" %}
{% load static %}
{% block css_script %}
    <style type="text/css">
        html, body {
            height: 100%;
        }
    </style>

{% endblock %}


{% block content %}


    <!--video start-->
    <section class="video-section">
        <div class="overlay"></div>
        <div class="video-overlay">
            <div class="container">
                <p class="wow animated fadeInDown" data-wow-delay="0.2s">
                    토계부 극장승을 사용하고 <br> 영화같은 승리를 쟁취하세요!
                </p>
                <a href="{% url 'signup' %}" class="btn btn-lg btn-theme-bg wow animated fadeInDown"
                   data-wow-delay="0.3s">회원가입하기</a>
            </div>
        </div>
    </section>


{% endblock %}



{% block javascript %}
    <script>
        $(document).ready(function () {


        });
    </script>
    <script>
        // Formstone Background - Video Background Settings
        $(".video-section").background({
            source: {
                poster: "../static/TheaterWinBook/img/intro_screenshot.PNG",
                mp4: "../static/TheaterWinBook/img/TheaterWin_intro.mp4"
            }
        });
    </script>




{% endblock %}


