

{% extends "TheaterWinBook/base_header_footer_dark.html" %}
{% block content %}

    <div class="wrapper">
        <div class="container-fluid" style="max-width: 100%;">

            <div class="row">
                <!-- end wrapper -->

                <div class="wrapper-page">
                    <div class="text-center">
                    </div>
                    <div class="m-t-40 card-box">
                        <div class="text-center">
                            <a href="index.html" class="logo" style=""><span><span style="font-family: BM_DOHYEON;">극장승 로그인</span></span></a>
                        </div>
                        <div class="p-20" style="padding-top: 5px !important;">
                            <form role="form" class="form-horizontal m-t-20" method="post" action="">
                                {% csrf_token %}
                                <div style="text-align: center;margin-bottom: 10px">
                                    <span style="text-align: center;font-size: 12px;color: 	#808080;">* 극장승 토계부는 로그인이 필요합니다. </span><br>
                                    <span style="text-align: center;font-size: 12px;color: 	#808080;">* 자동로그인 기능 개발 예정입니다. </span>
                                    {% comment %}
로그인 안한 상태에서, index이외의 다른 메뉴로 들어갔을시~ -> auth_page yes라고 표시
                                    {% if auth_page == 'yes' %}
                                        <span style="text-align: center;font-size: 12px;color: 	#808080;">* 극장승의 원활한 이용을 위해 로그인이 필요합니다. </span>
                                    {% endif %}
{% endcomment %}

                                    {% if login_try == 'login_fail' %}
                                        <br><span style="text-align: center;font-size: 12px;color: red;">* 로그인 실패! 아이디와 비밀번호를 확인해주세요</span>
                                        <br>
                                    {% endif %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'success' %}
                                                <br><span style="text-align: center;font-size: 10px;color: green ; ">* {{ message }}</span>
                                            {% elif message.tags == 'error' %}

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>


                                <div class="form-group row">
                                    <label class="col-3 col-form-label">아이디</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" required="" name="username"
                                               maxlength="15" placeholder=" 아이디를 입력해주세요"
                                               style="font-family: Roboto sans-seri">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label">비밀번호</label>
                                    <div class="col-9">
                                        <input class="form-control" type="password" name="password" maxlength="15"
                                               placeholder="비밀번호를 입력해주세요1" required="" placeholder="비밀번호"
                                               style="font-family: Roboto sans-seri">
                                    </div>
                                </div>

                                {#                                <div class="form-group ">#}
                                {#                                    <div class="col-xs-12">#}
                                {#                                        <div class="checkbox checkbox-custom">#}
                                {#                                            <input id="checkbox-signup" type="checkbox">#}
                                {#                                            <label for="checkbox-signup">#}
                                {#                                                Remember me#}
                                {#                                            </label>#}
                                {#                                        </div>#}
                                {##}
                                {#                                    </div>#}
                                {#                                </div>#}

                                <div class="form-group text-center m-t-30">
                                    <div class="col-xs-12">
                                        <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light"
                                                type="submit">
                                            로그인
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group m-t-30 mb-0">
                                    <div class="col-sm-12">

                                           <span style="text-align: center;font-size: 10px;color: 	#808080">  <i
                                                   class="fa fa-lock m-r-5"></i> 분실은 TheaterWinner@gmail.com 에 문의주세요</span>

                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">극장승 아이디가 아직 없습니까?<a href="/signup"
                                                                          class="text-primary m-l-5"><b>&nbsp
                                    &nbsp회원가입</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end card-box-->


                </div>
            </div>
        </div>
    </div>
    <!-- end wrapper page -->





{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
        });

    </script>
{% endblock %}




