{% extends "TheaterWinBook/base_header_footer_dark.html" %}
{% load static %}
{% block css_script %}
    <style>
        .breadcrumb-wrap {
            padding: 5%;
        }

    </style>
    {{ form.media }}
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="container-fluid">

            <br>
            <div class="card-box">

                <div class="form-group row">
                    <label class="col-2 col-form-label">글제목</label>
                    <div class="col-10 col-form-label">
                        {{ question_record.question_title }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">작성날짜</label>
                    <div class="col-10  col-form-label">
                        {{ question_record.writing_date }}

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">작성인</label>
                    <div class="col-10  col-form-label">
                        {{ question_record.user_name }}

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <textarea id="id_content2">{{ question_record.question_content }}</textarea>
                    </div>
                </div>
                {#                오직 관리자만 볼 수 있게 해야 함 . #}
                <div class="form-group row">
                    <div class="col-12">
                        <button class="btn btn-info waves-effect waves-light m-b-5" style="width: 100%"
                                id="question_reply_btn" name="{{ question_record.pk }}">
                            <i class="fa fa-pencil-square-o "></i> <span>답글달기</span></button>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-12">
                        <button class="btn btn-info waves-effect waves-light m-b-5"
                                id="modify_btn"
                                record_pk={{ question_record.pk }}
                                        name="modify_btn"
                                style="color: #98a6ad;font-size:15px; mar5gin:5px; width: 100%">
                            <i class="fa fa-pencil-square-o "></i> <span>수정</span></button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <button class="btn btn-info waves-effect waves-light m-b-5"
                                id="delete_btn"
                                record_pk={{ question_record.pk }} name="delete_btn"
                                style="color: #98a6ad;font-size:15px; margin:5px; width: 100%">
                            <i class="fa fa-pencil-square-o "></i> <span>삭제</span></button>
                    </div>
                </div>

            </div>


            <br>
            <br>
            <br>
        </div>
    </div>


{% endblock %}

{% block javascript %}

    <script>

        {#    tinymce 모듈을 django 에 적용했기 때문에, 해당 template 에서도 그냥 사용이 가능하다 #}
        $(document).ready(function () {
            //삭제버튼 및 수정버튼 클릭시 confirm
            btn_delete_modify();
            btn_delete_modify_hide();

            {#question_title 에 대한 값을 집어 넣는다. #}
            var question_title = '{{ question_record.question_title }}';
            $("#id_question_title").val(question_title);
            {% comment %}        var question_content = '{{ form.question_content }}';
                    alert("this question content",question_content);
                    tinyMCE.activeEditor.setContent(question_content);{% endcomment %}
            tinymce.init({
                selector: "#id_content2",  // change this value according to your HTML
                width: 'auto',
                height: '500',
                {#readOnly 편집 불가능하게 설정. #}
                readonly: '1',

            });

            $("#question_reply_btn").click(function () {
                var question_pk = $("#question_reply_btn").attr("name");
                window.location = '/question_write?question_pk=' + question_pk + "&is_original=question_reply";


            });
            // JQuery 적용
        });

        function btn_delete_modify_hide() {
            var is_record_owner = '{{ is_record_owner }}';
            if(is_record_owner=='owner'){
                $("#modify_btn").addClass('hidden');
                $("#delete_btn").addClass('hidden');
            }else if(is_record_owner =='not_owner'){

            }else{

            }


        }
        

        {#삭제 및 수정 버튼#}
        function btn_delete_modify() {



            $("[name = 'delete_btn']").click(function () {
                var record_pk = $(this).attr('record_pk');
                swal({
                    title: '정말 삭제하시겠습니까?',
                    text: "삭제하면 다시 되돌릴 수 없습니다",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#4fa7f3',
                    cancelButtonColor: '#d57171',
                    cancelButtonText: '아니요',
                    confirmButtonText: '네, 삭제하겠습니다!'
                }).then(function () {
                    $.ajax({
                        type: "POST",
                        url: "/question_delete/",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            'record_pk': record_pk,
                        },
                        success: function (data) {
                            var delete_result = data.delete_success;
                            if (delete_result == "success") {
                                swal(
                                    '삭제 성공!',
                                    '성공적으로 삭제되었습니다..',
                                    'success'
                                )
                                window.location = '/question_list/';
                            } else {
                                swal("정상적인 동작이 실행 되지 않았습니다.\n 다시 시도해주시기 바랍니다").catch(swal.noop)
                            }
                        }
                    });


                });

            });


            $("[name = 'modify_btn']").click(function () {
                var record_pk = $(this).attr('record_pk');
                $.ajax({
                    type: "POST",
                    url: "/question_usercheck/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_pk': record_pk,
                    },
                    success: function (data) {
                        var usercheck_result = data.usercheck_success;
                        if (usercheck_result == "success") {
                            window.location = '/question_modify?record_pk=' + record_pk;
                        } else {
                            alert("정상적인 수정과정이 아닙니다. \n 재로그인 후 다시 시도해주세요");
                        }
                    }
                });
            });

        }

    </script>
{% endblock %}


