{% extends "TheaterWinBook/base_header_footer_dark.html" %}
{% load static %}
{% block css_script %}
    {% comment %}   <style>
        .breadcrumb-wrap {
            padding: 5%;
        }

        .ql-snow {
            background: #F0F0F0;
        }
    </style>

    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>{% endcomment %}
    {#    tinymce widget#}
    {{ form.media }}

{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="container-fluid">

            <!-- Page-Title -->

            <br>

            <div class="card-box">
                <form role="form" class="form-horizontal" method="post" action="" id="inputForm"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-9">
                            {#          원본 글일 경우 original 로 보내자.                   #}
                            <input id="is_original" name="is_original" value="question_original" style="display: none">
                            <input id="question_pk" name="question_pk" value="1" style="display: none">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">글제목</label>
                        <div class="col-10">
                            {{ form.question_title }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {#                        <div class="col-12"> {{ form.question_content }}</div>#}

                        <div class="col-12"><textarea id="id_question_content" name="question_content"></textarea>
                            <input name="image" type="file" id="upload" class="hidden" onchange="">
                        </div>

                    </div>

                    <button class="btn btn-info waves-effect waves-light m-b-5" style="width: 100%"
                            id="question_write_btn">
                        <i
                                class="fa fa-pencil-square-o "></i> <span>글올리기</span></button>


                </form>


            </div>

            <br>
            <br>
            <br>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    {% comment %}
    {#    quill 이미지 크기 조절을 위한 #}
    <script src="{% static 'TheaterWinBook/js/image-resize.min.js' %}"></script>
    {% endcomment %}

    <script>
        $(document).ready(function () {
            tinymce.init({
                selector: '#id_question_content',
                {#selector: "#id_content2",  // change this value according to your HTML#}
                width: 'auto',
                height: '350',
                paste_data_images: true,
                plugins: [
                    "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars code fullscreen",
                    "insertdatetime media nonbreaking save table contextmenu directionality",
                    "emoticons template paste textcolor colorpicker textpattern"
                ],
                toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                toolbar2: "print preview media | forecolor backcolor emoticons",
                image_advtab: true,
                file_picker_callback: function (callback, value, meta) {
                    if (meta.filetype == 'image') {
                        $('#upload').trigger('click');
                        $('#upload').on('change', function () {
                            if (this.files[0].size > 100000) {
                                        alert("죄송합니다. 현재 사이트 속도상 100KB이상 파일은 올리실 수 없습니다. 빠른 시일내 보완하겠습니다");
                                this.value = "";
                            }

                            var file = this.files[0];


                            var reader = new FileReader();
                            reader.onload = function (e) {
                                callback(e.target.result, {
                                    alt: ''
                                });
                            };
                            reader.readAsDataURL(file);
                        });
                    }
                },
                templates: [{
                    title: 'Test template 1',
                    content: 'Test 1'
                }, {
                    title: 'Test template 2',
                    content: 'Test 2'
                }]
            });


            var is_original = getParameterByName('is_original');
            var question_pk = getParameterByName('question_pk');
            if (is_original == 'question_reply') {
                $("#is_original").val('question_reply');
                $("#question_pk").val(question_pk);
            } else if (is_original == null) {
                $("#is_original").val('question_original');
                $("#question_pk").val(1);
            }


            {#     폼 에러가 안나게 input type check 하기       #}
            $('#question_write_btn').click(function () {
                event.preventDefault();
                $("#inputForm").submit();
            });


        });

        {#URL parameter를 얻는 함수이다. #}

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

    </script>
    <script>


    </script>

{% endblock %}


