{% extends "TheaterWinBook/base_header_footer_dark.html" %}
{% load static %}
{% block css_script %}
    <style>
        .breadcrumb-wrap {
            padding: 5%;
        }
    </style>
{% endblock %}

{% block content %}


    <div class="divide40"><h1>Content goes here</h1>
    </div>
    <div class="divide40"></div>
    <div class="divide40"></div>
    <div class="divide40"></div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {

            // JQuery 적용
            alert("this is test");
        });


    </script>
{% endblock %}


