{% extends "TheaterWinBook/base_header_footer.html" %}
{% load static %}
{% block css_script %}
    <style>
        .breadcrumb-wrap {
            padding: 5%;
        }
    </style>
    <!-- demo stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'TheaterWinBook/daypilot/helpers/demo.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'TheaterWinBook/daypilot/helpers/media/layout.css' %}"
          href="../helpers/"/>
    <link type="text/css" rel="stylesheet" href="{% static 'TheaterWinBook/daypilot/helpers/demo.css' %}"
          href="../helpers/media/elements.css?v=2018.2.232"/>

    <!-- helper libraries -->
    <script src="{% static 'TheaterWinBook/daypilot/helpers/jquery-1.9.1.min.js' %}"></script>

    <!-- daypilot libraries -->
    <script src="{% static 'TheaterWinBook/daypilot/js/daypilot-all.min.js' %}" type="text/javascript"></script>

    <!-- daypilot themes -->
    <link type="text/css" rel="stylesheet" href="{% static 'TheaterWinBook/daypilot/themes/month_white.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'TheaterWinBook/daypilot/themes/month_green.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'TheaterWinBook/daypilot/themes/month_transparent.css' %}"/>

    <link type="text/css" rel="stylesheet"
          href="{% static 'TheaterWinBook/daypilot/themes/calendar_transparent.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'TheaterWinBook/daypilot/themes/calendar_white.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'TheaterWinBook/daypilot/themes/calendar_green.css' %}"/>

    <link type="text/css" rel="stylesheet" href="{% static 'TheaterWinBook/daypilot/themes/navigator_green.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'TheaterWinBook/daypilot/themes/navigator_white.css' %}"/>
{% endblock %}

{% block content %}
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="">
                    <h4 style="padding-left: 5%">극장승 달력</h4>
                </div>
            </div>
        </div>
    </div><!--breadcrumbs-->

    <div id="container">
        <div id="content" style="margin: 0px 1%">

            <div>
                <div class="space">
                    <a href="javascript:dp.startDate = dp.startDate.addMonths(-1); dp.update();">Previous</a>
                    |
                    <a href="javascript:dp.startDate = dp.startDate.addMonths(1); dp.update();">Next</a>
                </div>

                <div id="dp"></div>


                <!-- bottom -->
            </div>
        </div>
    </div>
    <div class="divide40"></div>
    </div>


{% endblock %}

{% block javascript %}


    <script type="text/javascript">
        {#    오늘 날짜 구해서 달력에 표시하기 #}
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = yyyy + '-' + mm + '-' + dd;
        var dp = new DayPilot.Month("dp");
        // view
        dp.startDate = today;  // or just dp.startDate = "2013-03-25";


        {% comment %}
               // 달력 클릭 시 이벤트 삽입은 나중에
              // event creating
              dp.onTimeRangeSelected = function (args) {
                  var name = prompt("New event name:", "Event");
                  dp.clearSelection();
                  if (!name) return;
                  var e = new DayPilot.Event({
                      start: args.start,
                      end: args.end,
                      id: DayPilot.guid(),
                      text: name
                  });
                  alert("this is add button");
                  dp.events.add(e);
              };
              {% endcomment %}

        dp.onEventClicked = function (args) {
            alert(args.e.id());
        };
        dp.init();
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            {#url체크해서 navigation에 색깔 칠해주기. #}
            if (window.location.href.indexOf("winbook_calendar") > -1) {
                $("#navtop_winbook_calendar").css("color", "#32c5d2");
            }

            var url = window.location.href;
            var filename = url.substring(url.lastIndexOf('/') + 1);
            if (filename === "") filename = "index.html";
            $(".menu a[href='" + filename + "']").addClass("selected");

            // 모든 정보 불러오기
            var winbook_user_result_json = '{{ winbook_user_result_json|escapejs|safe  }}';
            var winbook_user_result_json_parsed = $.parseJSON(winbook_user_result_json);
            for (var i = 0; i < winbook_user_result_json_parsed.length; ++i) {
                var record_pk = JSON.stringify(winbook_user_result_json_parsed[i].pk);
                var buy_date = JSON.stringify(winbook_user_result_json_parsed[i].fields.buy_date);
                var writing_date = JSON.stringify(winbook_user_result_json_parsed[i].fields.writing_date);
                var buy_game_title = JSON.stringify(winbook_user_result_json_parsed[i].fields.buy_game_title);
                var batting_ratio = JSON.stringify(winbook_user_result_json_parsed[i].fields.batting_ratio);
                var batting_money = JSON.stringify(winbook_user_result_json_parsed[i].fields.batting_money);
                var folder_num = JSON.stringify(winbook_user_result_json_parsed[i].fields.folder_num);
                var win_check = JSON.stringify(winbook_user_result_json_parsed[i].fields.win_check);
                var etc_memo = JSON.stringify(winbook_user_result_json_parsed[i].fields.etc_memo);

                var duration = 0;
                var start = 0;
                {#record_buy_date의 날짜에 "2018-08-01"형식으로 되어 있어서, 위의 따옴표를 없애준다. #}
                var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^_+<>@\#$%&\\\=\(\'\"]/gi;
                buy_date = buy_date.replace(regExp, "");
                var e = new DayPilot.Event({
                    start: new DayPilot.Date(buy_date).addDays(start),
                    end: new DayPilot.Date(buy_date).addDays(start).addDays(duration),
                    {#end: new DayPilot.Date("2013-03-04T12:00:00").addDays(start).addDays(duration),#}
                    id: buy_game_title,
                    text: buy_game_title,
                    tags: {
                        buy_date: buy_date,
                        writing_date: "ddd",
                        buy_game_title: buy_game_title,
                        batting_ratio: batting_ratio,
                        batting_money: batting_money,
                        folder_num: folder_num,
                        win_check: win_check,
                        etc_memo: etc_memo
                    }
                });
                dp.events.add(e);
            }


        });

    </script>

{% endblock %}


