{% extends "TheaterWinBook/base_header_footer.html" %}

{% block css_script %}
    <style>

        {#  전체/적중/비적중/라디오버튼  #}
        .input-group .form-control.form-control-selectpicker {
            padding: 0;
        }

        .input-group .form-control.form-control-selectpicker > .btn-group.bootstrap-select {
            width: 100%;
        }

        .input-group .form-control.form-control-selectpicker .btn-group .btn {
            border: 0;
        }

        label span {
            color: #32c5d2;
        }

    </style>
{% endblock %}


{% block content %}
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="">
                    <h4 style="padding-left: 5%">극장승 기록</h4>
                </div>
            </div>
        </div>
    </div><!--breadcrumbs-->


    <div class="col-md-12" style="margin-top: 5px;text-align: center">
        <div class="btn-group" role="group">
            <label class="btn btn-default btn-checkbox" style="width: 25%;    padding-left: 5px;"
                   id="win_check_all_label">
                <span class="glyphicon glyphicon-unchecked" data-icon-on="glyphicon glyphicon-check"
                      data-icon-off="glyphicon glyphicon-unchecked"></span>
                <input name="radio" type="radio" value="win_check_all" style="display: none" autocomplete="false"/> 전체
            </label>
            <label class="btn btn-default btn-checkbox" style="width: 25%;    padding-left: 5px;">
                <span class="glyphicon glyphicon-unchecked" data-icon-on="glyphicon glyphicon-check"
                      data-icon-off="glyphicon glyphicon-unchecked"></span>
                <input name="radio" type="radio" value="win_check_hit" style="display: none" autocomplete="false"/> 적중
            </label>
            <label class="btn btn-default btn-checkbox" style="width: 25%;    padding-left: 3px;">
                <span class="glyphicon glyphicon-unchecked" data-icon-on="glyphicon glyphicon-check"
                      data-icon-off="glyphicon glyphicon-unchecked"></span>
                <input name="radio" type="radio" value="win_check_miss" style="display: none" autocomplete="false"/> 비적중
            </label>
            <label class="btn btn-default btn-checkbox" style="width: 25%;    padding-left: 3px;">
                <span class="glyphicon glyphicon-unchecked" data-icon-on="glyphicon glyphicon-check"
                      data-icon-off="glyphicon glyphicon-unchecked"></span>
                <input name="radio" type="radio" value="win_check_yet" style="display: none" autocomplete="false"/> 경기전
            </label>

        </div>
    </div>
    <div style="text-align: right;margin-right: 10%">

        총 순이익 : <span id="total_net_profit"></span> 원
    </div>


    {#{% for s in winbook_user_result %}#}
    {#  {{ s.buy_game_title }}#}
    {#<br>#}
    {# {{ s.batting_money}}#}
    {##}
    {#  {% endfor %}#}
    <div class="row " style="padding: 0 2%">
        <div class="col-md-12">
            {% for winbook_record in winbook_user_result %}

                {#  적중/비적중/미경기에 따라서 테두리 색을 바꾸자   #}
                {% if winbook_record.win_check == 0 %}
                    {% with win_check_color_status="#ff253b" %}
                        <div class="about-author win_check_miss winbook_record_list"
                             style="margin: 10px;border-radius: 10px; padding: 10px; border: 3px solid {{ win_check_color_status }}">
                    {% endwith %}
                {% elif winbook_record.win_check == 1 %}
                    {% with win_check_color_status="#59df57" %}
                        <div class="about-author  win_check_hit winbook_record_list"
                             style="margin: 10px;border-radius: 10px; padding: 10px; border: 3px solid {{ win_check_color_status }}">
                    {% endwith %}
                {% elif winbook_record.win_check == 2 %}
                    {% with win_check_color_status="#ffcd38" %}
                        <div class="about-author win_check_yet winbook_record_list"
                             style="margin: 10px;border-radius: 10px; padding: 10px; border: 3px solid {{ win_check_color_status }}">
                    {% endwith %}
                {% endif %}
            <span class="hidden win_check">{{ winbook_record.win_check }}</span>
            <ul class="list-inline post-detail" style="margin: 0px; text-align: center ">
                {#   slugify 는 integer나 string을 최소한의 형태로 맞추어 주는 역할이다. 비교를 할 때는 반드시 이걸 하자.. #}
                {% if new_winbook_pk|slugify == winbook_record.pk|slugify %}
                    <span class="label label-primary">New</span>
                {% endif %}

                <li><i class="fa fa-calendar"></i> {{ winbook_record.buy_date }} 구입
                </li>
                <li><i class="fas fa-medal"></i>
                    {% if winbook_record.win_check == 0 %}
                        미적중
                    {% elif winbook_record.win_check == 1 %}
                        적중
                    {% elif winbook_record.win_check == 2 %}
                        경기전
                    {% endif %}
                </li>
                <li><i class="fas fa-dice"></i> <span class="folder_num">{{ winbook_record.folder_num }} </span>폴더</li>
            </ul>
            <div style="padding: 10px">

                <h4 class="colored-text" style="margin-top: 5px"> {{ winbook_record.buy_game_title }} </h4>
                <p>
                    * 배팅금액 : <span class="batting_moeny">{{ winbook_record.batting_money }}</span>원
                </p>
                <p>
                    * 적중배당 : <span class="batting_ratio">{{ winbook_record.batting_ratio }}</span> 배
                </p>
                <p>
                    * 순이익 : <span class="net_profit_money">{{ winbook_record.batting_money }}</span>원
                </p>
                <p> * 기타 메모: <span>{{ winbook_record.etc_memo }}</span></p>
            </div>


            <ul class="list-inline post-detail" style="margin: 0px; text-align: right">
                <li>  {{ winbook_record.writing_date }} 기록
                </li>
                <li><i class="fas fa-trash-alt"></i><a href="#" id="delete_btn_{{ winbook_record.pk }}"
                                                       record_pk={{ winbook_record.pk }}
                                                               name="delete_btn"> 삭제</a></li>
                <li><i class="fas fa-pen-square"></i> <a href="#" id="modify_btn_{{ winbook_record.pk }}"
                                                         name="modify_btn" record_pk={{ winbook_record.pk }}>
                    수정 </a></li>
            </ul>

            </div><!--about author-->
            {% endfor %}


            </div><!--col-->

            </div><!--row for blog post-->
        </div>
    </div>
    <div class="divide40"></div>
    <div class="divide40"></div>

{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function () {
            //삭제버튼 및 수정버튼 클릭시 confirm
            btn_delete_modify();
            money_calculate();

            {#url체크해서 navigation에 색깔 칠해주기. #}
            if (window.location.href.indexOf("winbook_list") > -1) {
                $("#navtop_winbook_list").css("color", "#32c5d2");
            }


            {#라디오버튼 클릭시 적용  #}
            $('body').on('click', '.btn-checkbox', function (e) {
                e.stopPropagation();
                e.preventDefault();
                var $radio = $(this).find(':input[type=radio]');
                if ($radio.length) {
                    if ($radio.val() == 'win_check_all') {
                        $(".about-author").removeClass("hidden");
                    }
                    else if ($radio.val() == 'win_check_hit') {
                        $(".win_check_hit").removeClass("hidden");
                        $(".win_check_all").addClass("hidden");
                        $(".win_check_miss").addClass("hidden");
                        $(".win_check_yet").addClass("hidden");
                    }
                    else if ($radio.val() == 'win_check_miss') {
                        $(".win_check_miss").removeClass("hidden");
                        $(".win_check_all").addClass("hidden");
                        $(".win_check_hit").addClass("hidden");
                        $(".win_check_yet").addClass("hidden");
                    } else if ($radio.val() == 'win_check_yet') {
                        $(".win_check_yet").removeClass("hidden");
                        $(".win_check_all").addClass("hidden");
                        $(".win_check_miss").addClass("hidden");
                        $(".win_check_hit").addClass("hidden");
                    } else {
                        alert("이거슨 잘못된 행위");
                    }
                    {#checked에 있는 클래스들 모두 hidden으로.. #}


                    var $group = $radio.closest('.btn-group');
                    $group.find(':input[type=radio]').not($radio).each(function () {
                        unchecked($(this));
                    })
                    var $icon = $(this).find('[data-icon-on]');
                    if ($radio.is(':checked')) {
                        unchecked($radio);
                    } else {
                        checked($radio);
                    }
                    return;
                }
            });

            {#페이지 시작시에 기본적으로 전체 라디오버튼 클릭, 앞의 라디오 버튼 설정 뒤에 클릭행위가 들어가야함. #}
            $("#win_check_all_label").trigger('click');

            {#새로운 토계부 정보를 체크하는 변수가  yes이면#}
            var new_winbook_check = '{{ new_winbook_check }}';
            if (new_winbook_check == 'n') {
            } else if (new_winbook_check == 'y') {
                alert("새로운 토계부 정보가 성공적으로 등록되었습니다");
            } else {

            }
            // JQuery 적용

        });
        {#돈 단위에 3자리 컴마#}

        function money_calculate() {
            var total_net_profit = 0;
            {#모든 Class에 대해서 #}
            $(".winbook_record_list").each(function (index) {
                var win_check = parseInt(($(this).find(".win_check").text()));
                var batting_money = parseInt($(this).find(".batting_moeny").text());
                var batting_ratio = parseFloat($(this).find(".batting_ratio").text());
                var folder_num = parseInt($(this).find(".folder_num").text());
                var net_profit = 0;
                if (win_check == 0) {
                    net_profit = -(batting_money * folder_num);
                } else if (win_check == 1) {
                    net_profit = ((batting_ratio * batting_money * folder_num) - (batting_money * folder_num));
                } else if (win_check == 2) {
                    net_profit = ((batting_ratio * batting_money * folder_num) - (batting_money * folder_num));
                }
                total_net_profit += net_profit;
                $(this).find(".net_profit_money").text(addCommas(net_profit));
                $(this).find(".batting_moeny").text(addCommas(batting_money));
            });
            $("#total_net_profit").text(addCommas(total_net_profit));

            {#     돈 단위에 comma 찍기        #}

        }

        {#3자리마다 콤마 찍어주기#}
        //3자리 단위마다 콤마 생성
        function addCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        //모든 콤마 제거
        function removeCommas(x) {
            if (!x || x.length == 0) return "";
            else return x.split(",").join("");
        }

        {#삭제 및 수정 버튼#}

        function btn_delete_modify() {
            $("[name = 'delete_btn']").click(function () {
                var delete_result = confirm('해당 게시물을 정말 삭제하시겠습니까?');
                {#버튼이 사실이면?#}
                if (delete_result == true) {
                    var record_pk = $(this).attr('record_pk');
                    $.ajax({
                        type: "POST",
                        url: "/list_delete/",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            'record_pk': record_pk,
                        },
                        success: function (data) {
                            var delete_result = data.delete_success;
                            if (delete_result == "success") {
                                alert("삭제가 성공적으로 이루어 졌습니다.");
                                location.reload();
                            } else {
                                alert("삭제가 정상적으로 되지 않았습니다.\n 다시 시도해주시기 바랍니다");
                            }
                        }
                    });
                }
                else {
                }
            });


            $("[name = 'modify_btn']").click(function () {
                var record_pk = $(this).attr('record_pk');
                $.ajax({
                    type: "POST",
                    url: "/list_usercheck/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_pk': record_pk,
                    },
                    success: function (data) {
                        var usercheck_result = data.usercheck_success;
                        if (usercheck_result == "success") {
                            window.location = '/winbook_modify?record_pk=' + record_pk;
                        } else {
                            alert("정상적인 수정과정이 아닙니다. \n 재로그인 후 다시 시도해주세요");
                        }
                    }
                });


            });

        }

        {#라디오 버튼에 사용되는 checkd & unchecked#}

        function checked($input) {
            var $button = $input.closest('.btn');
            var $icon = $button.find('[data-icon-on]');
            $button.addClass('active');
            $input.prop('checked', true);
            $icon.css('width', $icon.width());
            $icon.removeAttr('class').addClass($icon.data('icon-on'));
            $input.trigger('change');
        }

        function unchecked($input) {
            var $button = $input.closest('.btn');
            var $icon = $button.find('[data-icon-on]');
            $button.removeClass('active');
            $input.prop('checked', false);
            $icon.css('width', $icon.width());
            $icon.removeAttr('class').addClass($icon.data('icon-off'));
            $input.trigger('change');
        }
    </script>
{% endblock %}


