{% extends "TheaterWinBook/base_header_footer_dark.html" %}
{% load static %}
{% block css_script %}
    <style>
        .breadcrumb-wrap {
            padding: 5%;
        }
    </style>
    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css"/>

{% endblock %}

{% block content %}
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="">
                    <h4 style="padding-left: 5%">극장승 달력</h4>
                </div>
            </div>
        </div>
    </div><!--breadcrumbs-->
    <div style="text-align: center; margin: 5px">
    <span id="menu-navi">
          <button type="button" id="calendar_go_prevbtn" class="btn btn-default btn-sm move-day"
                  data-action="move-prev" style="border-radius: 25px;text-align: center">
                    <i class="fas fa-chevron-left" style="text-align: center; margin: 0 2px"></i>
                </button>
                 <button type="button" id="calendar_go_todaybtn" class="btn btn-default btn-sm move-today"
                         data-action="move-today" style="text-align: center; margin: 0 2px">TODAY</button>

                <button type="button" id="calendar_go_nextbtn" class="btn btn-default btn-sm move-day"
                        data-action="move-next" style="border-radius: 25px;">
                   <i class="fas fa-chevron-right " style="text-align: center; margin: 0 2px"></i>
                </button>
            </span>
    </div>
    <div id="container">
        <div id="calendar" style="width: 100%; height: 800px"></div>
    </div>



{% endblock %}

{% block javascript %}

    <script>
        var Calendar = tui.Calendar;

        var calendar = new Calendar(document.getElementById('calendar'), {
            defaultView: 'month',
            taskView: true,    // can be also ['milestone', 'task']
            scheduleView: true,  // can be also ['allday', 'time']
            template: {
                milestone: function (schedule) {
                    return '<span style="color:red;"><i class="fa fa-flag"></i> ' + schedule.title + '</span>';
                },
                milestoneTitle: function () {
                    return 'Milestone';
                },
                task: function (schedule) {
                    return '&nbsp;&nbsp;#' + schedule.title;
                },
                taskTitle: function () {
                    return '<label><input type="checkbox" />Task</label>';
                },
                allday: function (schedule) {
                    return schedule.title + ' <i class="fa fa-refresh"></i>';
                },
                alldayTitle: function () {
                    return 'All Day';
                },
                time: function (schedule) {
                    return schedule.title + ' <i class="fa fa-refresh"></i>' + schedule.start;
                }
            },
            month: {
                daynames: ['일', '월', '화', '수', '목', '금', '토'],
                startDayOfWeek: 0,
                narrowWeekend: false
            }
        });


        {#    tui-line-chart#}
        // 모든 정보 불러오기
        var winbook_user_result_json = '{{ winbook_user_result_json|escapejs|safe  }}';
        var winbook_user_result_json_parsed = $.parseJSON(winbook_user_result_json);
        var chart_x_array = [];
        var chart_y_array = [];
        var lose_counting = 0;
        var win_counting = 0;
        var yet_counting = 0;
        var untilnow_profit = 0;

        for (var i = 0; i < winbook_user_result_json_parsed.length; ++i) {
            var record_pk = JSON.stringify(winbook_user_result_json_parsed[i].pk);
            var buy_date = JSON.stringify(winbook_user_result_json_parsed[i].fields.buy_date);
            chart_x_array.push(buy_date);
            var writing_date = JSON.stringify(winbook_user_result_json_parsed[i].fields.writing_date);
            var buy_game_title = JSON.stringify(winbook_user_result_json_parsed[i].fields.buy_game_title);
            var batting_ratio = JSON.stringify(winbook_user_result_json_parsed[i].fields.batting_ratio);
            var batting_money = JSON.stringify(winbook_user_result_json_parsed[i].fields.batting_money);
            var folder_num = JSON.stringify(winbook_user_result_json_parsed[i].fields.folder_num);
            var win_check = JSON.stringify(winbook_user_result_json_parsed[i].fields.win_check);
            var net_profit = 0
            if (win_check == "0") {
                lose_counting++;
                net_profit = -(batting_money * folder_num);
            } else if (win_check == '1') {
                win_counting++;
                net_profit = ((batting_ratio * batting_money * folder_num) - (batting_money * folder_num));
            } else if (win_check == '2') {
                yet_counting++;
                net_profit = ((batting_ratio * batting_money * folder_num) - (batting_money * folder_num));

            }
            untilnow_profit += net_profit
            chart_y_array.push(untilnow_profit)
            var etc_memo = JSON.stringify(winbook_user_result_json_parsed[i].fields.etc_memo);
            var duration = 0;
            var start = 0;
            {#record_buy_date의 날짜에 "2018-08-01"형식으로 되어 있어서, 위의 따옴표를 없애준다. #}
            var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^_+<>@\#$%&\\\=\(\'\"]/gi;
            buy_date = buy_date.replace(regExp, "");

            {#caelndaer에 스케줄 추가#}
            calendar.createSchedules([
                {
                    id: record_pk,
                    title: buy_game_title,
                    calendarId: '1',
                    category: 'allday',
                    start: buy_date,
                    end: buy_date,
                }
            ]);


        }


        calendar.on('clickSchedule', function (event) {

            var schedule = event.schedule;
            alert(schedule.title);
            if (lastClickSchedule) {
                calendar.updateSchedule(lastClickSchedule.id, lastClickSchedule.calendarId, {
                    isFocused: false
                });
            }
            calendar.updateSchedule(schedule.id, schedule.calendarId, {
                isFocused: true
            });

            lastClickSchedule = schedule;
            // open detail view
        });


    </script>
    <script>
        $(document).ready(function () {
            $("#calendar_go_nextbtn").click(function () {
                calendar.next();
                console.log(calendar.getDateRangeStart());
                console.log(calendar.getDate().getMonth());
                console.log(calendar.getDateRangeEnd());
            });
            $("#calendar_go_prevbtn").click(function () {
                calendar.prev();
                console.log(calendar.getDateRangeStart());
                console.log(calendar.getDate().getMonth());
                console.log(calendar.getDateRangeEnd());
            });
            $("#calendar_go_todaybtn").click(function () {
                calendar.today();
                console.log(calendar.getDateRangeStart());
                console.log(calendar.getDate().getMonth());
                console.log(calendar.getDateRangeEnd());
            });

            console.log(calendar.getDateRangeStart());
            console.log(calendar.getDate().getMonth());
            console.log(calendar.getDateRangeEnd());
            console.log((calendar.getDateRangeStart()+calendar.getDateRangeEnd())/2);
        });

    </script>
{% endblock %}


