{% extends "TheaterWinBook/base_header_footer_dark.html" %}
{% load static %}
{% block css_script %}
    <style>
        .ui-datepicker {
            width: 80%; /*what ever width you want*/
        }

        .mouse_cursor {
            cursor: pointer;
        }

    </style>
    {{ form.media }}

{% endblock %}
{% block content %}
    <div class="wrapper">
    <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">

            <h4 class="page-title" id="record_detail_title" record_pk="{{ winbook_record.pk }}"> 상세 기록 </h4>
        </div>
    </div>
    <div class="card-box" style="padding-bottom: 5px;">
        <div class="form-group row">
            <label class="col-3 col-form-label">제목</label>
            <div class="col-9  col-form-label">
                <a href="/winbook_detail/{{ winbook_record.pk }}/"
                   class="text-white"> {{ winbook_record.buy_game_title }} </a>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">작성인</label>
            <div class="col-9  col-form-label">
                {{ winbook_record.user_name }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">작성날짜</label>
            <div class="col-9  col-form-label">
                {{ winbook_record.writing_date }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">조회수</label>
            <div class="col-9  col-form-label">
                {{ winbook_record.hit_count }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label btn_thumbup" name="record_thumbup" style="cursor: pointer"
                   record_pk= {{ winbook_record.pk }}>올려요 <i
                    class="mdi mdi-thumb-up"></i></label>
            <div class="col-3  col-form-label btn_thumbup" style="cursor: pointer">
                {{ thumbup_count }}
            </div>
            <label class="col-3 col-form-label btn_thumbdown" name="record_thumbdown" style="cursor: pointer"
                   record_pk= {{ winbook_record.pk }}> 내려요 <i
                    class="mdi mdi-thumb-down"></i></label>
            <div class="col-3  col-form-label btn_thumbdown" style="cursor: pointer">
                {{ thumbdown_count }}
            </div>
        </div>
    </div>


    <!-- end page title end breadcrumb -->
    <div class="row ">
        {#                    <div class="col-xl-12  winbook_record_list ">#}
        {#  적중/비적중/미경기에 따라서 클래스를 바꿔 넣는다   #}
        {% if winbook_record.win_check == 0 %}
            {% with win_check_color_status="#ff253b" %}
                <div class="col-xl-12  card-box project-box winbook_record_list win_check_miss "
                     style=" ">
            {% endwith %}
        {% elif winbook_record.win_check == 1 %}
            {% with win_check_color_status="#59df57" %}
                <div class="col-xl-12 card-box project-box winbook_record_list  win_check_hit "
                     style=" ">
            {% endwith %}
        {% elif winbook_record.win_check == 2 %}
            {% with win_check_color_status="#ffcd38" %}
                <div class="col-xl-12 card-box project-box winbook_record_list win_check_yet "
                     style=" ">
            {% endwith %}
        {% endif %}


        <span class="hidden win_check">{{ winbook_record.win_check }}</span>


        {#  적중/비적중/미경기에 따라서 배지를 바꿉니다.    #}
        {% if winbook_record.win_check == 0 %}
            <div class="badge badge-danger" style="color: #212529 ;  font-weight: bold;">미적중</div>
        {% elif winbook_record.win_check == 1 %}
            <div class="badge badge-success" style="color: #212529 ;  font-weight: bold;">적중</div>
        {% elif winbook_record.win_check == 2 %}
            <div class="badge badge-warning" style="color: #212529 ;  font-weight: bold;">경기전</div>
        {% endif %}

        {#   slugify 는 integer나 string을 최소한의 형태로 맞추어 주는 역할이다. 비교를 할 때는 반드시 이걸 하자.. #}
        {% if new_winbook_pk|slugify == winbook_record.pk|slugify %}
            <span class="label label-primary">New</span>
        {% endif %}
        <p style="position: relative;">{{ winbook_record.buy_date }} 구매<span></span>
        </p>


        <h4 class="mt-0" style="text-align: center;">
        </h4>

        <ul class="list-inline" style="text-align: center">

            <li class="list-inline-item pull-left" style="text-align: center;">
                <p class="text-muted" style="margin-bottom: 0px;margin-top: 5px;margin-left: 5px">배팅 금액</p>
                <h3 class="mb-0" style="margin-top: 0px;margin-left: 5px"><span
                        class="batting_money">{{ winbook_record.batting_money }}</span></h3>

            </li>

            <li class="list-inline-item" style="text-align: center;">
                <p class="text-muted" style="margin-bottom: 0px;margin-top: 5px">폴더수</p>
                <h3 class="mb-0" style="margin-top: 0px"> <span
                        class="folder_num">{{ winbook_record.folder_num }}</span></h3>

            </li>
            <li class="list-inline-item pull-right" style="text-align: center;">
                <p class="text-muted" style="margin-bottom: 0px;margin-top: 5px;margin-right: 5px">배당률</p>
                <h3 class="mb-0" style="margin-top: 0px;margin-right: 5px"> <span
                        class="batting_ratio">{{ winbook_record.batting_ratio }}</span></h3>

            </li>
        </ul>
        <p class="font-600 m-b-5" style="font-size: 20px"> &nbsp
            {#  적중/비적중/미경기에 따라서 배지를 바꿉니다.    #}
            {% if winbook_record.win_check == 0 %}
                <span
                        class="net_profit_money pull-right" style="color: #ff5b5b; margin-right: 5px">순이익</span></span>
            {% elif winbook_record.win_check == 1 %}
                <span
                        class="net_profit_money pull-right" style="color: #10c469; margin-right: 5px">순이익</span></span>
            {% elif winbook_record.win_check == 2 %}
                <span
                        class="net_profit_money pull-right" style="color: #f9c851; margin-right: 5px">순이익</span></span>
            {% endif %}


        </p>


        <p class="font-600 m-b-5" style="margin-left: 10px"><span>{{ winbook_record.etc_memo }}</span>
        </p>

        <p class="font-600 m-b-5" style="margin-left: 10px"><textarea>{{ winbook_record.batting_analysis }}</textarea>
        </p>


        <ul class="list-inline post-detail" style="margin: 0px; text-align: right;
    border-bottom: 1px solid #666666; ">


            <li style="    display: inline-block;"><i class="fas fa-user-circle"></i>
                &nbsp{{ winbook_record.user_name }} </li>
            <li style="    display: inline-block;"><i class="fas  fa-share-alt"></i>
                {% if winbook_record.share_check == 0 %}
                    &nbsp비공개
                {% elif winbook_record.share_check == 1 %}
                    &nbsp공개
                {% endif %}
            </li>

        </ul>


        <ul class="list-inline post-detail hidden" style="margin: 0px; text-align: right;
    border-bottom: 1px solid #666666; " name="modify_and_delete_section" record_writer="{{ winbook_record.user_name }}">

            <li style="    display: inline-block;"><i class="fas fa-trash-alt"></i><a href="#"
                                                                                      id="delete_btn"
                                                                                      record_pk={{ winbook_record.pk }} name="delete_btn"
                                                                                      style="color: #98a6ad;font-size:15px; margin:5px">
                삭제</a>

            </li>


            <li style="    display: inline-block;"><i class="fas fa-pen-square"></i> <a href="#"
                                                                                        id="modify_btn"
                                                                                        record_pk={{ winbook_record.pk }}
                                                                                                name="modify_btn"
                                                                                        style="color: #98a6ad;font-size:15px; mar5gin:5px">
                수정 </a></li>

        </ul>

        {#    댓글 부분입니다. #}
        <div class="form-group row" style="background: #394C57; margin: 1% 3%">
            <label class="col-9 col-form-label"><input type="text" id="content_reply" name="content_reply"
                                                       class="form-control" placeholder="댓글을 여기다 써주세요"></label>
            <div class="col-3 col-form-label" style="">
                <button class="btn btn-info waves-effect waves-light m-b-5" style="width: 100%"
                        id="content_reply_btn">
                    <span>댓글</span></button>

            </div>
        </div>
        {#                </div>#}
        {#        댓글 달기 부분 #}
        {% for record in target_replys %}
            <div class="form-group row" style="background: #394C57; margin: 0% 3%"
                 id="parent_reply_section_{{ record.pk }}">
                <div class="col-1 col-form-label" style="text-align: center">{{ forloop.counter }}</div>
                <label class="col-11 col-form-label">{{ record.record_reply_content }}</label>

            </div>

            <div class="form-group row"
                 style="background: #394C57; margin: 0% 3%; border-bottom: 0.5px solid; font-size: 10px">
                <div class="col-6 col-form-label" style="padding:1px 2%"><i
                        class="mdi mdi mdi-calendar-check"></i> &nbsp{{ record.writing_date }} 작성
                </div>
                <div class="col-6 col-form-label" style="text-align: right; padding:1px 2%"> <span><i
                        class="mdi mdi mdi mdi-account-circle"></i>&nbsp {{ record.by_whom }}

                    </span>
                    {% comment %}
                        <span id="btn_re_reply_open_{{ record.pk }}" name="btn_re_reply_open"
                                                 record_pk="{{ record.pk }}">     <i
                            class="fa fa-pencil-square-o "></i> 대댓글</span>

                            {% endcomment %}
                </div>
                <div class="form-group row col-12 hidden" name="reply_btn_section" style="margin:0px; padding:0px 1%"
                     reply_writer="{{ record.by_whom }}">
                    <div class="col-6 col-form-label" style="">
                    </div>
                    <div class="col-6 col-form-label" style="text-align: right">
                        <a style="color: #98a6ad"
                           class="mouse_cursor"
                           name="btn_reply_modify_open"
                           record_pk={{ record.pk }}
                        >
                            <i
                                    class="mdi mdi mdi-table-edit"></i> 수정</a>
                        <a href="#" style="color: #98a6ad"
                           name="btn_reply_delete"
                           record_pk={{ record.pk }}
                                   name="btn_reply_delete"
                        >
                            <i
                                    class="mdi mdi-delete"></i> 삭제</a>
                    </div>
                </div>

                <div class="form-group row col-12 hidden" id="re_reply_section_{{ record.pk }}"
                     name="re_reply_section">

                    <label class="col-9 col-form-label"><input type="text" id="reply_modify_input_{{ record.pk }}"
                                                               name="reply_modify_input"
                                                               class="form-control"
                                                               placeholder="수정 댓글을 여기다 써주세요"
                                                               value="{{ record.record_reply_content }}"></label>
                    <div class="col-3 col-form-label" style="text-align: center">
                        <button class="btn btn-info waves-effect waves-light m-b-5" style="width: 100%"
                                id="btn_reply_modify_{{ record.pk }}"
                                record_pk="{{ record.pk }}"
                                name="btn_reply_modify">
                            <span>수정</span></button>

                    </div>
                </div>
            </div>

        {% endfor %}

        </div>
        </div>       <!--end row-->
        </div>    <!-- end container -->
    </div>    <!-- end wrapper -->

{% endblock %}

{% block javascript %}
    <script>
      $(document).ready(function () {
            {#  tinymce 사용을 위해서 css 헤더에 media 추가가 반드시 필요하다.   #}


            //삭제버튼 및 수정버튼 클릭시 confirm
            btn_delete_modify();
            btn_delete_modify_hide();
            money_calculate();
            modify_and_delete_section_setting();
            btn_thumb_setting();
            content_reply_btn_setting();
            btn_reply_delete_modify();
            btn_re_reply_open_setting();

            tinymce.init({
                selector: 'textarea',
                {#selector: "#id_content2",  // change this value according to your HTML#}
                width: 'auto',
                height: '350',
                {#readOnly 편집 불가능하게 설정. #}
                readonly: '1',
                content_css: '/static/TheaterWinBook/css/tinymce_style.css'


            });


        });
        function btn_delete_modify_hide() {

            var login_user = '{{ request.user.username }}';
            $("div[name='reply_btn_section']").each(function (index) {
                var record_writer = $(this).attr('reply_writer');

                if (record_writer == login_user) {
                    $(this).removeClass("hidden")
                } else {
                }
            });


        }

        function modify_and_delete_section_setting() {
            var login_user = '{{ request.user.username }}';
            $("ul[name='modify_and_delete_section']").each(function (index) {
                var record_writer = $(this).attr('record_writer');
                if (record_writer == login_user) {
                    $(this).removeClass("hidden");
                } else {
                }
            });
        }

        function content_reply_btn_setting() {
            $("#content_reply_btn").click(function () {
                var record_pk = $("#record_detail_title").attr("record_pk");
                var content_reply = $("#content_reply").val();
                $.ajax({
                    type: "POST",
                    url: "/ajax/winbook_reply_ajax/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_pk': record_pk,
                        'content_reply': content_reply

                    },
                    success: function (data) {
                        var result = data.result;
                        if (result == "success") {
                            swal(
                                '추천!',
                                '성공적으로 등록되었습니다',
                                'success'
                            );
                            location.reload();
                        } else {
                            swal("정상적인 동작이 실행 되지 않았습니다.\n 다시 시도해주시기 바랍니다").catch(swal.noop);
                        }
                    }
                });
            });
        }

        function btn_reply_delete_modify() {
            $("[name = 'btn_reply_delete']").click(function () {
                var record_pk = $(this).attr('record_pk');
                swal({
                    title: '정말 삭제하시겠습니까?',
                    text: "삭제하면 다시 되돌릴 수 없습니다",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#4fa7f3',
                    cancelButtonColor: '#d57171',
                    cancelButtonText: '아니요',
                    confirmButtonText: '네, 삭제하겠습니다!'
                }).then(function () {
                    $.ajax({
                        type: "POST",
                        url: "/winbook_reply_delete/",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            'record_pk': record_pk,
                        },
                        success: function (data) {
                            var delete_result = data.delete_success;
                            if (delete_result == "success") {
                                swal(
                                    '삭제 성공!',
                                    '성공적으로 삭제되었습니다..',
                                    'success'
                                )
                                location.reload();
                            } else {
                                swal("정상적인 동작이 실행 되지 않았습니다.\n 다시 시도해주시기 바랍니다").catch(swal.noop)
                            }
                        }
                    });


                });

            });


            $("[name = 'btn_reply_modify_open']").click(function () {
                var record_pk = $(this).attr('record_pk');
                $("#re_reply_section_" + record_pk).toggleClass("hidden");
                $("#parent_reply_section_" + record_pk).toggleClass("hidden");


            });
            $("[name = 'btn_reply_modify']").click(function () {
                var record_pk = $(this).attr('record_pk');
                var reply_modify_content = $("#reply_modify_input_" + record_pk).val();
                $.ajax({
                    type: "POST",
                    url: "/winbook_reply_modify/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_pk': record_pk,
                        'reply_modify_content': reply_modify_content,
                    },
                    success: function (data) {
                        var delete_result = data.delete_success;
                        if (delete_result == "success") {
                            swal(
                                '수정 성공!',
                                '성공적으로 수정되었습니다..',
                                'success'
                            )
                            location.reload();
                        } else {
                            swal("정상적인 동작이 실행 되지 않았습니다.\n 다시 시도해주시기 바랍니다").catch(swal.noop)
                        }
                    }
                });

            });

        }

        function btn_re_reply_open_setting() {
            $("[name = 'btn_re_reply_open']").click(function () {
                var record_pk = $(this).attr('record_pk');
                $("#re_reply_section_" + record_pk).toggleClass("hidden");

            });
        }




        function btn_thumb_setting() {
            $(".btn_thumbdown").hover(function () {
                    $(this).css("color", "#71B6F9");
                }, function () {
                    $(this).css("color", "#98a6ad");
                }
            );
            $(".btn_thumbdown").click(function () {
                var record_pk = $("#record_detail_title").attr("record_pk");
                $.ajax({
                    type: "POST",
                    url: "/ajax/winbook_thumb_ajax/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_pk': record_pk,
                        'thumb_style': 'down'

                    },
                    success: function (data) {
                        var result = data.thumb_result;
                        if (result == "down_success") {
                            swal('내려요가 표시됐습니다').catch(swal.noop);
                            location.reload();
                        } else if (result == 'down_cancel') {
                            swal('내려요가 취소됐습니다!').catch(swal.noop);
                            location.reload();
                        }

                        else {
                            swal("정상적인 동작이 실행 되지 않았습니다.\n 다시 시도해주시기 바랍니다").catch(swal.noop);
                        }
                    }
                });
            });

            $(".btn_thumbup").hover(function () {
                    $(this).css("color", "#71B6F9");
                }, function () {
                    $(this).css("color", "#98a6ad");
                }
            );


            $(".btn_thumbup").click(function () {
                {#추천 버튼 클릭 시#}
                var record_pk = $("#record_detail_title").attr("record_pk");
                $.ajax({
                    type: "POST",
                    url: "/ajax/winbook_thumb_ajax/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_pk': record_pk,
                        'thumb_style': 'up'

                    },
                    success: function (data) {
                        var result = data.thumb_result;
                        if (result == "up_success") {
                            swal(
                                '추천!',
                                '성공적으로 추천되었습니다.',
                                'success'
                            );
                            location.reload();
                        } else if (result == 'up_cancel') {
                            swal('추천이 취소되었습니다').catch(swal.noop);
                            location.reload();
                        }

                        else {
                            swal("정상적인 동작이 실행 되지 않았습니다.\n 다시 시도해주시기 바랍니다").catch(swal.noop);
                        }
                    }
                });
            });

        }


        {#돈 단위에 3자리 컴마#}

        function money_calculate() {
            var total_net_profit = 0;
            {#모든 Class에 대해서 #}
            $(".winbook_record_list").each(function (index) {
                var win_check = parseInt(($(this).find(".win_check").text()));
                var batting_money = parseInt($(this).find(".batting_money").text());
                var batting_ratio = parseFloat($(this).find(".batting_ratio").text());
                var folder_num = parseInt($(this).find(".folder_num").text());
                var net_profit = 0;
                if (win_check == 0) {
                    net_profit = -(batting_money * folder_num);
                } else if (win_check == 1) {
                    net_profit = ((batting_ratio * batting_money) - (batting_money));
                } else if (win_check == 2) {
                    net_profit = ((batting_ratio * batting_money) - (batting_money));
                }
                total_net_profit += net_profit;
                $(this).find(".net_profit_money").text(addCommas(Math.round(net_profit)));
                $(this).find(".batting_money").text(addCommas(Math.round(batting_money)));
            });
            $("#total_net_profit").text(addCommas(total_net_profit));

            {#     돈 단위에 comma 찍기        #}

        }

        {#3자리마다 콤마 찍어주기#}
        //3자리 단위마다 콤마 생성
        function addCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        //모든 콤마 제거
        function removeCommas(x) {
            if (!x || x.length == 0) return "";
            else return x.split(",").join("");
        }

        {#삭제 및 수정 버튼#}

        function btn_delete_modify() {

            $("[name = 'delete_btn']").click(function () {
                var record_pk = $(this).attr('record_pk');
                swal({
                    title: '정말 삭제하시겠습니까?',
                    text: "삭제하면 다시 되돌릴 수 없습니다",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#4fa7f3',
                    cancelButtonColor: '#d57171',
                    cancelButtonText: '아니요',
                    confirmButtonText: '네, 삭제하겠습니다!'
                }).then(function () {
                    $.ajax({
                        type: "POST",
                        url: "/list_delete/",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            'record_pk': record_pk,
                        },
                        success: function (data) {
                            var delete_result = data.delete_success;
                            if (delete_result == "success") {
                                swal(
                                    '삭제 성공!',
                                    '성공적으로 삭제되었습니다..',
                                    'success'
                                )
                                window.location = '/winbook_list/';
                            } else {
                                swal("정상적인 동작이 실행 되지 않았습니다.\n 다시 시도해주시기 바랍니다").catch(swal.noop)
                            }
                        }
                    });


                });

            });


            $("[name = 'modify_btn']").click(function () {
                var record_pk = $(this).attr('record_pk');
                $.ajax({
                    type: "POST",
                    url: "/list_usercheck/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'record_pk': record_pk,
                    },
                    success: function (data) {
                        var usercheck_result = data.usercheck_success;
                        if (usercheck_result == "success") {
                            window.location = '/winbook_modify?record_pk=' + record_pk;
                        } else {
                            alert("정상적인 수정과정이 아닙니다. \n 재로그인 후 다시 시도해주세요");
                        }
                    }
                });
            });

        }


    </script>

{% endblock %}


