{% extends "TheaterWinBook/base_header_footer.html" %}
{% load static %}
{% block css_script %}
    <style>
        .breadcrumb-wrap {
            padding: 5%;
        }

    </style>
    {#toast chart를 위한 static files import#}
        <!-- include application-chart.min.css -->
{% comment %}    <link rel="stylesheet" type="text/css" href="/static/tui-chart/dist/tui-chart.min.css"/>
    <!-- include libraries -->
    <script src="/static/tui-code-snippet/dist/tui-code-snippet.js"></script>
    <script src="/static/raphael/raphael.js"></script>
    <!-- include chart.min.js -->
    <script src="/static/tui-chart/dist/tui-chart.min.js"></script>
    <!-- include map data (only map chart) -->
    <script src="/static/tui-chart/dist/maps/world.js"></script>{% endcomment %}
    <script src="{% static 'TheaterWinBook/js/raphael.min.js' %}" type="text/javascript"></script>
    <script src="https://unpkg.com/tui-code-snippet"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css">
    <script src="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.js"></script>
{% endblock %}

{% block content %}
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="">
                    <h4 style="padding-left: 5%">극장승 통계</h4>
                </div>
            </div>
        </div>
    </div><!--breadcrumbs-->


    <div id="tui_line_chart"></div>
    <div id="tui_pie_chart"></div>

{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script>
        $(document).ready(function () {
            {#url체크해서 navigation에 색깔 칠해주기. #}
            if (window.location.href.indexOf("winbook_statistics") > -1) {
                $("#navtop_winbook_statistics").css("color", "#32c5d2");
            }
            // JQuery 적용

        });
    </script>
    <script>
        {#    tui-line-chart#}
        // 모든 정보 불러오기
        var winbook_user_result_json = '{{ winbook_user_result_json|escapejs|safe  }}';
        var winbook_user_result_json_parsed = $.parseJSON(winbook_user_result_json);
        var chart_x_array = [];
        var chart_y_array = [];
        var lose_counting = 0;
        var win_counting = 0;
        var yet_counting = 0;
        var untilnow_profit = 0;

        for (var i = 0; i < winbook_user_result_json_parsed.length; ++i) {
            var record_pk = JSON.stringify(winbook_user_result_json_parsed[i].pk);
            var buy_date = JSON.stringify(winbook_user_result_json_parsed[i].fields.buy_date);
            chart_x_array.push(buy_date);
            var writing_date = JSON.stringify(winbook_user_result_json_parsed[i].fields.writing_date);
            var buy_game_title = JSON.stringify(winbook_user_result_json_parsed[i].fields.buy_game_title);
            var batting_ratio = JSON.stringify(winbook_user_result_json_parsed[i].fields.batting_ratio);
            var batting_money = JSON.stringify(winbook_user_result_json_parsed[i].fields.batting_money);
            var folder_num = JSON.stringify(winbook_user_result_json_parsed[i].fields.folder_num);
            var win_check = JSON.stringify(winbook_user_result_json_parsed[i].fields.win_check);
            var net_profit = 0
            if (win_check == "0") {
                lose_counting++;
                net_profit = -(batting_money * folder_num);
            } else if (win_check == '1') {
                win_counting++;
                net_profit = ((batting_ratio * batting_money * folder_num) - (batting_money * folder_num));
            } else if (win_check == '2') {
                yet_counting++;
                net_profit = ((batting_ratio * batting_money * folder_num) - (batting_money * folder_num));

            }
            untilnow_profit += net_profit
            chart_y_array.push(untilnow_profit)
            var etc_memo = JSON.stringify(winbook_user_result_json_parsed[i].fields.etc_memo);
            var duration = 0;
            var start = 0;
            {#record_buy_date의 날짜에 "2018-08-01"형식으로 되어 있어서, 위의 따옴표를 없애준다. #}
            var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^_+<>@\#$%&\\\=\(\'\"]/gi;
            buy_date = buy_date.replace(regExp, "");
        }


        var container = document.getElementById('tui_line_chart');
        var data = {
            categories: chart_x_array,
            series: [
                {
                    name: '순이익',
                    data: chart_y_array
                }
            ]
        };
        var chart_height = 0;
        if ($('body').width() > 500) {
            chart_height = 485;
        } else {
            chart_height = $('body').width() - 15;
        }
        var options = {
            series: {
                shifting: true
            },
            chart: {
                {#width 는 bodyy #}
                width: $('body').width() - 10,
                height: chart_height,
                format: '1,000',
            },
            yAxis: {
                title: '순이익',
                pointOnColumn: true
            },
            xAxis: {
                title: {
                    text: '구입 날짜',
                    align: 'left',
                },
                type: 'datetime',
                dateFormat: 'MM-dd'
            },
            series: {
                showDot: true,
                zoomable: false
            },
            tooltip: {
                suffix: '원'
            },
            legend: {
                showCheckbox: false,
                visible: false,
            },
        };
        var theme = {
            series: {
                colors: [
                    '#83b14e', '#458a3f', '#295ba0', '#2a4175', '#289399',
                    '#289399', '#617178', '#8a9a9a', '#516f7d', '#dddddd'
                ]
            }
        };

        // For apply theme

        // tui.chart.registerTheme('myTheme', theme);
        // options.theme = 'myTheme';

        var linechart = tui.chart.lineChart(container, data, options);

    </script>
    <script>
        {#tui-pie-chart#}
        var container = document.getElementById('tui_pie_chart');
        var data = {
            categories: ['적중 결과'],
            series: [
                {
                    name: '미적중',
                    data: lose_counting
                },
                {
                    name: '적중',
                    data: win_counting
                },
                {
                    name: '경기전',
                    data: yet_counting
                },
            ]
        };
        var options = {
            chart: {
                width: $('body').width() - 10,
                height: chart_height,
            },
            tooltip: {
                suffix: '건'
            }
        };
        var theme = {
            series: {
                colors: [
                    '#ff253b', '#59df57', '#ffcd38',
                ]
            }
        };

        // For apply theme
        tui.chart.registerTheme('myTheme', theme);
        options.theme = 'myTheme';
        tui.chart.pieChart(container, data, options);


    </script>

{% endblock %}


