{% extends "TheaterWinBook/base_header_footer_dark.html" %}
{% load static %}
{% block css_script %}
    <style>

        .morris-hover.morris-default-style {
            background: #666666;
        }


    </style>

{% endblock %}

{% block content %}


    <!-- Navigation Bar-->

    <div class="wrapper">
        <div class="container-fluid">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">극장승 통계</h4>
                </div>
            </div>
            <!-- end page title end breadcrumb -->


            <div class="row">
                <div class="col-xl-12">
                    <div class="card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                               aria-expanded="false">
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><h4 class="header-title m-t-0 m-b-30">순이익 : <span
                                    id="total_net_profit"></span></h4></div>
                            <div class="col-sm-6"><h5 class="header-title m-t-0 m-b-30 pull-right"
                                                      style="color:  #f9c851;margin-bottom: 15px">경기전 금액 : <span
                                    id="">{{ yet_total }}</span></h5></div>
                        </div>


                        <div class="text-center">
                            <ul class="list-inline chart-detail-list">
                                <li class="list-inline-item">
                                    <h5 style="color: #5b69bc;"><i class="fa fa-circle m-r-5"></i>순이익</h5>
                                </li>

                            </ul>
                        </div>
                        <div id="morris-area-with-dotted" style="height: 300px;"></div>

                    </div>
                </div><!-- end col-->

                <div class="col-xl-12">
                    <div class="card-box">


                        <h4 class="header-title m-t-0 m-b-30"> 적중 결과 </h4>

                        <div id="morris-donut-example" style="height: 300px;"></div>

                        <div class="text-center">
                            <ul class="list-inline chart-detail-list">
                                <li class="list-inline-item">
                                    <h5 style="color: #10c469;"><i class="fa fa-circle m-r-5"></i>적중</h5>
                                </li>
                                <li class="list-inline-item">
                                    <h5 style="color: #ff5b5b;"><i class="fa fa-circle m-r-5"></i>미적중</h5>
                                </li>
                                <li class="list-inline-item">
                                    <h5 style="color: #f9c851;"><i class="fa fa-circle m-r-5"></i>경기전</h5>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div><!-- end col-->
            </div>
            <!-- end row -->


        </div> <!-- end container -->

    </div>
    <!-- end wrapper -->


    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    2016 - 2018 © Adminto. Coderthemes.com
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- end wrapper -->

    {% comment %}
  <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="">
                    <h4 style="padding-left: 5%">극장승 통계</h4>
                </div>
            </div>
        </div>
    </div><!--breadcrumbs-->


    <div id="tui_line_chart"></div>
    <div id="tui_pie_chart"></div>
    {% endcomment %}

{% endblock %}

{% block javascript %}

    <script>
        // 모든 정보 불러오기
        var winbook_user_result_json = '{{ winbook_user_result_json|escapejs|safe  }}';
        var winbook_user_result_json_parsed = $.parseJSON(winbook_user_result_json);
        {# x 축은 날짜 #}
        var chart_x_array = [];
        {# y 축은 순이익 #}
        var chart_y_array = [];
        var lose_counting = 0;
        var win_counting = 0;
        var yet_counting = 0;
        var untilnow_profit = 0;
        var buy_date_check;
        for (var i = 0; i < winbook_user_result_json_parsed.length; ++i) {
            var record_pk = JSON.stringify(winbook_user_result_json_parsed[i].pk);
            var buy_date = JSON.stringify(winbook_user_result_json_parsed[i].fields.buy_date);
            {#record_buy_date의 날짜에 "2018-08-01"형식으로 되어 있어서, 위의 따옴표를 없애준다. #}
            var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^_+<>@\#$%&\\\=\(\'\"]/gi;
            buy_date = buy_date.replace(regExp, "");
            var batting_ratio = JSON.stringify(winbook_user_result_json_parsed[i].fields.batting_ratio);
            var batting_money = JSON.stringify(winbook_user_result_json_parsed[i].fields.batting_money);
            var win_check = JSON.stringify(winbook_user_result_json_parsed[i].fields.win_check);
            var net_profit = 0;
            if (win_check == "0") {
                lose_counting++;
                net_profit = -(batting_money);
            } else if (win_check == '1') {
                win_counting++;
                net_profit = ((batting_ratio * batting_money) - (batting_money));
            }
            else if (win_check == '2') {
                yet_counting++;
                {#net_profit = ((batting_ratio * batting_money * folder_num) - (batting_money * folder_num));#}
            }
            untilnow_profit += net_profit;

            //chart x array 에 바로 넣어 주는 것이 아니라, 이전 것이랑 같은지 체크해주자.
            //이전의 것이랑 같으면, 마지막에 들어온 것을 빼고, 새롭게 계산된 것을 넣어준다.
            if (buy_date_check == buy_date) {
                chart_x_array.pop();
                chart_y_array.pop();
            }
            chart_x_array.push(buy_date);
            chart_y_array.push(untilnow_profit);
            buy_date_check = buy_date;

        }
        var container = document.getElementById('tui_line_chart');
        var data = {
            categories: chart_x_array,
            series: [
                {
                    name: '순이익',
                    data: chart_y_array
                }
            ]
        };
    </script>


    {% comment %}    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>{% endcomment %}
    <script>
        {#현재까지 profit 저장하기#}

        function total_profit_calculate() {
            $("#total_net_profit").text(addCommas(untilnow_profit));
        }

        {#3자리마다 콤마 찍어주기#}
        //3자리 단위마다 콤마 생성
        function addCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        //모든 콤마 제거
        function removeCommas(x) {
            if (!x || x.length == 0) return "";
            else return x.split(",").join("");
        }

    </script>

    <script>
        !function ($) {
            "use strict";
            total_profit_calculate();
            var MorrisCharts = function () {
            };
            //creates area chart with dotted
            MorrisCharts.prototype.createAreaChartDotted = function (element, pointSize, lineWidth, data, xkey, ykeys, labels, Pfillcolor, Pstockcolor, lineColors) {
                Morris.Area({
                    element: element,
                    pointSize: 5,
                    lineWidth: 2,
                    data: data,
                    xkey: xkey,
                    ykeys: ykeys,
                    labels: labels,
                    hideHover: 'auto',
                    pointFillColors: Pfillcolor,
                    pointStrokeColors: Pstockcolor,
                    resize: true,
                    gridLineColor: '#2f3e47',
                    gridTextColor: '#98a6ad',
                    lineColors: lineColors
                });
            },

                //creates Donut chart
                MorrisCharts.prototype.createDonutChart = function (element, data, colors) {
                    Morris.Donut({
                        element: element,
                        data: data,
                        resize: true, //defaulted to true
                        colors: colors,
                        backgroundColor: '#2f3e47',
                        labelColor: '#98a6ad'
                    });
                },
                MorrisCharts.prototype.init = function () {
                    //creating area chart with dotted
                    chart_x_array;
                    chart_y_array;
                    var chart_xy_array = chart_x_array.map((price, idx) => {
                        return {y: chart_x_array, a: chart_y_array};
                    });
                    var area_with_dotted_data = [];
                    for (var i = 0; i < chart_x_array.length; i++) {
                        var object_xy_data = new Object();
                        object_xy_data.y = chart_x_array[i];
                        object_xy_data.a = chart_y_array[i];
                        area_with_dotted_data.push(object_xy_data);

                    }
                    console.log("this is area_with_dotted_data", area_with_dotted_data);
                    //chart_x_array = ['2018-08-09', '2018-08-10'.'2018-08-15']
                    //chart_y_array = ['100000', '200000', '300000']
                    var combination = chart_x_array.map((e, i) => `${e}:${chart_y_array[i]}`);
                    {##}
                    for (var c in combination) {
                        area_with_dotted_data.push();
                    }

                    {% comment %}
                    var $areaDotData = [
                                {y: '2018-08-03', a: 75000},
                                {y: '2018-09-10', a: 100000}
                            ];
                    {% endcomment %}

                    var $areaDotData = area_with_dotted_data;

                    this.createAreaChartDotted('morris-area-with-dotted', 0, 0, $areaDotData, 'y', ['a'], ['순이익'], ['#ffffff'], ['#999999'], ['#5b69bc']);

                    //creating donut chart
                    var $donutData = [
                        {label: "경기전", value: yet_counting},
                        {label: "적중", value: win_counting},
                        {label: "미적중", value: lose_counting}
                    ];
                    this.createDonutChart('morris-donut-example', $donutData, ['#f9c851', '#10c469', "#ff5b5b"]);
                },
                //init
                $.MorrisCharts = new MorrisCharts, $.MorrisCharts.Constructor = MorrisCharts
        }(window.jQuery),

//initializing
            function ($) {
                "use strict";
                $.MorrisCharts.init();
            }(window.jQuery);
    </script>

{% endblock %}


